<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>圖書信息管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layuimini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuimini/css/public.css" media="all">
    <script src="../layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="../layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
</head>
<body>
<!--編輯彈出框-->
<div class="site-text" style="margin: 5%; display: none" id="edit_window">
    <div class="layui-form" style="width: 400px; float: left" lay-filter="editForm">
        <!--隱藏域，id-->
        <input type="hidden" id="bookid" name="bookid" class="layui-input" value="null">
        <!--隱藏域，封面地址-->
        <input type="hidden" id="bookimg" name="bookimg" class="layui-input" value="null">
        <!--隱藏域，被借情況-->
        <input type="hidden" id="isborrowed" name="isborrowed" class="layui-input" value="null">
        <!--圖書名-->
        <div class="layui-form-item">
            <label class="layui-form-label">圖書名</label>
            <div class="layui-input-block">
                <input type="text" id="bookname" name="bookname" value="" placeholder="請輸入圖書名" class="layui-input">
            </div>
        </div>
        <!--作者-->
        <div class="layui-form-item">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-block">
                <input type="text" id="bookauthor" name="bookauthor" value="" placeholder="請輸入作者" class="layui-input">
            </div>
        </div>
        <!--價格-->
        <div class="layui-form-item">
            <label class="layui-form-label">價格</label>
            <div class="layui-input-block">
                <input type="text" id="bookprice" name="bookprice" value="" placeholder="請輸入價格" class="layui-input">
            </div>
        </div>
        <!--圖書類型-->
        <div class="layui-form-item">
            <label class="layui-form-label">圖書類型</label>
            <div class="layui-input-block">
                <select name="booktypeid" id="edit_booktypeid" lay-search="">
                    <option value="">請選擇所屬類型</option>
                </select>
            </div>
        </div>
        <!--書籍描述-->
        <div class="layui-form-item">
            <label class="layui-form-label">書籍描述</label>
            <div class="layui-input-block">
                <textarea id="bookdesc" name="bookdesc" value="" placeholder="請輸入描述" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
    <!--封面上傳-->
    <div style="float:right;">
        <p>上傳封面</p>
        <div style="margin-top: 20px"></div>
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="test1">上傳圖片</button>
            <div class="layui-upload-list">
                <img width="200px" class="layui-upload-img" id="demo1" />
                <p id="demoText"></p>
            </div>
            <div style="width: 95px">
                <div class="layui-progress layui-progress-big"
                     lay-showpercent="yes"
                     lay-filter="demo">
                    <div class="layui-progress-bar" lay-percent=""></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--編輯彈出框2-->
<div class="site-text" style="margin: 5%; display: none" id="edit_window2">
    <div class="layui-form" style="width: 400px; float: left" lay-filter="editForm2">
        <!--隱藏域，bookid-->
        <input type="hidden" id="bookid2" name="bookid" class="layui-input" value="null">
        <!--用戶選擇-->
        <div class="layui-form-item">
            <label class="layui-form-label">選擇用戶</label>
            <div class="layui-input-block">
                <select name="userid" id="edit_userid" lay-search="">
                    <option value="">請選擇所屬用戶</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!--數據表格佈局-->
<div class="layuimini-container">
    <div class="layuimini-main">
        <!--搜索欄-->
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="" lay-filter="searchForm">
                    <div class="layui-form-item">
                        <!--搜索書名或作者-->
                        <div class="layui-inline">
                            <label class="layui-form-label">書名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bookname" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">作者</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bookauthor" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">所屬類型</label>
                            <div class="layui-input-inline">
                                <select name="booktypeid" id="search_booktypeid" lay-search="">
                                    <option value="">請選擇所屬類型</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜　　索 </button>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-all-btn"><i class="layui-icon"></i> 顯示全部 </button>
                        </div>
                    </div>
                </form>
                <p>搜索框支持模糊查詢，某項不填則不作為查詢條件。</p>
            </div>
        </fieldset>
        <!--頭部工具欄-->
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal data-add-btn" lay-event="add"> 添加圖書 </button>
                <button class="layui-btn layui-btn-danger data-delete-btn" lay-event="delete"> 刪除選中圖書（謹慎操作！） </button>
            </div>
        </script>
        <!--表格容器-->
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <!--行工具欄-->
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-sm data-count-edit" lay-event="edit">編輯</a>
            <a class="layui-btn layui-btn-danger layui-btn-sm data-count-delete" lay-event="delete">刪除</a>
        </script>
        <script type="text/html" id="currentTableBar2">
            <a class="layui-btn layui-btn layui-btn-sm data-count-borrow" lay-event="borrow">借閱圖書</a>
        </script>
    </div>
</div>
<!--js代碼-->
<script>
    layui.use(['form', 'table', 'upload', 'element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            upload = layui.upload,
            element = layui.element;

        //上傳圖片
        var uploadInst = upload.render({
            elem: "#test1",
            url: "../upload/uploadImg",
            before: function (obj) {
                //預讀本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $("#demo1").attr("src", result); //圖片鏈接（base64）
                });
                element.progress("demo", "0%"); //進度條復位
                layer.msg("上傳中", { icon: 16, time: 0 });
            },
            done: function (res) {
                //如果上傳失敗
                if (res.code > 0) {
                    return layer.msg("上傳失敗");
                }
                //上傳成功的一些操作
                //把地址寫到表單的隱藏域中
                $("#bookimg").val(res.data);
                //圖片鏈接替換
                $("#demo1").attr("src", res.data);

                $("#demoText").html(""); //置空上傳失敗的狀態
            },
            error: function () {
                //演示失敗狀態，並實現重傳
                var demoText = $("#demoText");
                demoText.html(
                    '<span style="color: #FF5722;">上傳失敗</span> <a class="layui-btn layui-btn-xs demo-reload">重試</a>'
                );
                demoText.find(".demo-reload").on("click", function () {
                    uploadInst.upload();
                });
            },
            //進度條
            progress: function (n, elem, e) {
                element.progress("demo", n + "%"); //可配合 layui 進度條元素使用
                if (n == 100) {
                    layer.msg("上傳完畢", { icon: 1 });
                }
            },
        });

        //獲取所有的類型
        $.getJSON({
            url: '../bookType/queryBookTypes',
            success: function (data) {
                $.each(data,function (i,n) {
                    $("#edit_booktypeid")
                        .append("<option value=\""+n.booktypeid+"\">"+n.booktypename+"</option>")
                });
                form.render('select','editForm'); //刷新select選擇框渲染

                $.each(data,function (i,n) {
                    $("#search_booktypeid")
                        .append("<option value=\""+n.booktypeid+"\">"+n.booktypename+"</option>")
                });
                form.render('select','searchForm'); //刷新select選擇框渲染
            }
        });

        //獲取所有的用戶
        $.getJSON({
            url: '../user/queryUsers',
            success: function (data) {
                $.each(data,function (i,n) {
                    $("#edit_userid")
                        .append("<option value=\""+n.userid+"\">"+n.username+"</option>")
                });
                form.render('select','editForm'); //刷新select選擇框渲染
            }
        });

        //加載數據表格
        table.render({
            elem: '#currentTableId',
            url: '../bookInfo/queryBookInfosByPage',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                {type: "checkbox"},
                {field: 'bookid', title: '序號', sort: true},
                {field: 'bookname', title: '書名', sort: true},
                {field: 'bookauthor', title: '作者', sort: true},
                {field: 'bookprice', title: '價格', sort: true},
                {field: 'booktypename', title: '類型名', sort: true},
                {field: 'bookdesc', title: '描述'},
                {field: 'status', title: '是否被借出', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"},
                {title: '借閱', minWidth: 150, toolbar: '#currentTableBar2', align: "center"}
            ]],
            parseData: function (res) {
                console.log('服務器返回的信息', res)
                res.data.forEach(cur => {
                    if(cur.isborrowed === 1) cur['status'] = '已借出'
                    else cur['status'] = '未借出'
                })
                return res
            },
            limits: [5, 10, 15, 20, 25, 50, 100],
            limit: 10,
            page: {
                prev: '上一頁',
                next: '下一頁',
            },
            done: function (res) {
                console.log(res);
            },
            skin: 'line'
        });

        // 監聽搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            console.log(result);
            //執行搜索重載
            table.reload('currentTableId', {
                url: '../bookInfo/searchBookInfosByPage',
                where: {json:result},   //把json傳過去
                page: {curr: 1}, //重新從第 1 頁開始
                done: function (res) {
                    layer.msg("搜索到"+res.count+"個結果", {time:1000});
                    return res;
                }
            });
            return false;   //不跳轉
        });

        // 監聽顯示全部操作
        form.on('submit(data-all-btn)', function (data) {
            form.val("searchForm", {
                'bookname':null,
                'bookauthor':null,
                'booktypeid':null
            });
            //執行搜索重載
            table.reload('currentTableId', {
                url: '../bookInfo/queryBookInfosByPage',
                page: {curr: 1}, //重新從第 1 頁開始
                done: null
            });
            return false;   //不跳轉
        });

        //toolbar監聽事件
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 監聽添加操作
                layer.open({
                    title:"新增",
                    type: 1,
                    maxmin:true,
                    shadeClose: true,
                    area:['800px','600px'],
                    btn: ['確定', '取消'],
                    content: $("#edit_window"),
                    success: function () {  //彈出框成功回調
                        //給表單賦值
                        form.val("editForm", {
                            "bookid": null,
                            "bookname": '紅樓夢',
                            "bookauthor": '曹雪芹',
                            "bookprice": '35.5',
                            "booktypeid": '3',
                            "bookdesc": '為閨閣立傳',
                            "isborrowed": '0',
                            "bookimg": 'http://wangpeng-imgsubmit.oss-cn-hangzhou.aliyuncs.com/img/202111131322401.jpg'
                        });
                        $("#demo1").attr("src", "http://wangpeng-imgsubmit.oss-cn-hangzhou.aliyuncs.com/img/202111131322401.jpg");
                    },
                    yes: function(index){ //確認的回調
                        layer.close(index); //關閉彈出框
                        var mdata = form.val('editForm');
                        //向服務器請求添加數據
                        $.ajax({    // 增加
                            url: '../bookInfo/addBookInfo',
                            type: 'post',
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify(mdata),    //發json
                            success:function (res) {
                                layer.msg("添加"+res+"行成功！",{time:1000});
                                //獲得最後一頁的頁碼並重載
                                $.getJSON({
                                    url: '../bookInfo/getCount',
                                    success: function (res) {
                                        //數據長度
                                        var len = res;
                                        //每頁大小
                                        var size = $('.layui-laypage-limits').find('select').val();
                                        //頁碼: 上取整（len/size）
                                        var pageNum = Math.ceil(len / size);
                                        //重載頁面
                                        table.reload('currentTableId',{page : {curr : pageNum}});
                                    }
                                });
                            }
                        });
                    }
                });
            } else if (obj.event === 'delete') {  // 監聽刪除操作
                layer.confirm('警告：如果需要刪除圖書，需要確保借書信息中無此書有關的記錄且刪除後將無法恢復！您確認刪除嗎？', {icon: 0}, function (index) {
                    var checkStatus = table.checkStatus('currentTableId')
                        , data = checkStatus.data;
                    layer.close(index); //關閉提示框
                    //向服務器請求
                    $.ajax({    // 刪除
                        url: '../bookInfo/deleteBookInfos',
                        type: 'delete',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(data),   //發json過去
                        success:function (res) {
                            layer.msg("刪除" + res + "行成功！",{time:1000});
                            //重載表格
                            table.reload('currentTableId',{page:{curr:1}});
                        }
                    });
                });
            }
        });
        table.on('tool(currentTableFilter)', function (obj) {
            if (obj.event === 'edit') { //監聽編輯按鈕
                var index = layer.open({
                    title: '編輯用戶',
                    type: 1,    //界面層
                    maxmin: true,
                    shadeClose: true,
                    area: ['800px', '600px'],
                    btn: ['確定', '取消'],
                    content: $("#edit_window"),
                    success: function () {
                        var mdata = obj.data;   //獲取該行的數據
                        //給表單賦值
                        form.val("editForm", {
                            "bookid": mdata.bookid,
                            "bookname": mdata.bookname,
                            "bookauthor": mdata.bookauthor,
                            "bookprice": mdata.bookprice,
                            "booktypeid": mdata.booktypeid,
                            "bookdesc": mdata.bookdesc,
                            "isborrowed": mdata.isborrowed,
                            "bookimg": mdata.bookimg
                        });
                        $("#demo1").attr("src", mdata.bookimg);
                    },
                    yes: function () {  //確認回調
                        layer.close(index); //關閉彈出框
                        var mdata = form.val('editForm');   //獲取表單的數據
                        $.ajax({    // 更新
                            url: '../bookInfo/updateBookInfo',
                            type: 'put',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(mdata),   //發json過去
                            success: function (res) {
                                layer.msg("修改" + res + "行成功!", {time: 1000});
                                //重載表格
                                table.reload('currentTableId');
                            }
                        });
                    }
                });
                return false
            } else if (obj.event === 'delete') {    //監聽刪除按鈕
                layer.confirm('警告：如果需要刪除圖書，需要確保借書信息中無此書有關的記錄且刪除後將無法恢復！您確認刪除嗎？', {icon: 0}, function (index) {
                    var mdata = obj.data;    //獲取該行的數據
                    layer.close(index); //關閉窗口
                    //向服務器請求
                    $.ajax({    // 刪除
                        url: '../bookInfo/deleteBookInfo',
                        type: 'delete',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(mdata),   //發json過去
                        success: function (res) {
                            if (res === 0) layer.msg("刪除失敗，可能存在相關的借書信息沒有刪除！", {time: 2000});
                            else {
                                layer.msg("刪除" + res + "行成功！", {time: 1000});
                                obj.del();  //刪除對應行（tr）的DOM結構，並更新緩存
                            }
                        }
                    });
                });
                return false
            } else if (obj.event === 'borrow') {    //監聽借書按鈕
                var mdata = obj.data;    //獲取該行的數據
                var isborrowed = mdata.isborrowed
                if(isborrowed === 1) {
                    layer.msg("不可重複借書", {time: 1000});
                    return false
                }
                layer.open({
                    title:"請選擇需要借書的用戶",
                    type: 1,
                    maxmin:true,
                    shadeClose: true,
                    area:['600px','500px'],
                    btn: ['確定借書', '取消借書'],
                    content: $("#edit_window2"),
                    success: function () {  //彈出框成功回調
                        //給表單賦值
                        form.val("editForm2", {
                            "userid": null,
                        });
                    },
                    yes: function(index){ //確認的回調
                        layer.close(index); //關閉彈出框
                        var mdata2 = form.val('editForm2');
                        var userid = mdata2.userid
                        var bookid = mdata.bookid
                        layer.close(index); //關閉窗口
                        //向服務器請求
                        $.ajax({
                            url: '../borrow/borrowBook',
                            type: 'post',
                            data: {
                                userid: userid,
                                bookid: bookid
                            },
                            success: function (res) {
                                if (res === 0) layer.msg("借書失敗，可能已經被別人借走了", {time: 1000});
                                else layer.msg("借書成功！", {time: 1000});
                            }
                        });
                        table.reload('currentTableId')  //表格重載
                    }
                });
                return false
            }
        })

    });
</script>

</body>
</html>
